#include <stdio.h>
int main ()
{
	/*6 5 4   
	4  3  2*/
	int a[]={9,8,7,6,5,4}; 
	int len=sizeof(a)/sizeof(a[0]);
	int len1=len;
	int max,c=0;
	for (int i=0;i<len1;len1--,i++)
	{
		for (int i=0;i<len1;i++)
		{
			if (a[i]>max) 
			{
			max=a[i];
			c=i;
			}
			if (i==len1-1)
			{
			int t=max;
			max=a[len1-1];
			a[len1-1]=t;
			a[c]=max;
			}
		}
	}
	for (int i=0;i<len;i++)
	{
		printf ("%d ",a[i]);
	}
	return 0;
}
